<!-- Thymeleaf template motoru için gerekli namespace tanımlaması -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leaders Home Page</title>
</head>
<body>
    <!-- Sayfa başlığı -->
    <h2>Leaders Home Page</h2>
    <hr>
    
    <!-- Yöneticilere özel mesaj -->
    <p>
        See you in Brazil... for our annual Leadership retreat!
        <br>
        Keep this trip a secret, don't tell the regular employees LOL :-)
    </p>
    <hr>
    
    <!-- Ana sayfaya dönüş linki -->
    <a th:href="@{/}">Back to Home Page</a>
</body>
</html> 